<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <link
      rel="stylesheet"
      href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css"
    />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesHome.css">
    <link
  rel="stylesheet"
  href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css"
/>
  <script src="https://kit.fontawesome.com/4405b08c8a.js" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body class="ms-Fabric" dir="ltr">

    <!-- Main Body Section -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 leftSec">


<img src="MSTeamsLogo4.jpg" class="logoImg" alt="Logo Image">




        </div>



        <div class="col-md-6">

          <section id="right-section">

          <h1 class="mainHeading ms-fontWeight-bold">Welcome to MyTeams</h1>

          <h4 class="seconHeading">A one stop app for your team</h4>

          <div class="card">
            <div class="card-body">


              <button type="button" id="createRoom" class="btn btn-outline-secondary rightDisplayBtn ms-fontWeight-semibold">Create Room</button>
              <button type="button" class="btn btn-outline-secondary rightDisplayBtn ms-fontWeight-semibold">Join room</button>


            </div>

          </div>
        </section>

        </div>


      </div>

    </div>



    <!-- Footer -->

    <footer id="footer">

      <div class="container-fluid">


        <i class="social-icon fab fa-linkedin"></i>

        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fab fa-github"></i>
        <i class="social-icon fas fa-envelope"></i>

        <p>© Copyright 2021 MyTeams</p>

      </div>


    </footer>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
  </body>
  <script src="scripts.js"></script>
</html>
